{{- $category := promptString "category (personal, linux, work): " -}}
{{- $arch := promptString "arch (arm64, amd64): " -}}
[data]
  category = "{{ $category }}"
  arch = "{{ $arch }}"
  home = "{{ env "HOME" }}"
  user = "{{ env "USER" }}"
