export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export TERM=xterm-256color

export GIMMEROOT=$HOME/.gimme/versions/go1.14.2
{{- if eq .category "linux" }}
export GOROOT=${GIMMEROOT}.linux.amd64
{{- else }}
export GOROOT=${GIMMEROOT}.darwin.amd64
{{- end }}
export GOPATH=$HOME/golang
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
# export MANPATH="/usr/local/man:$MANPATH"
export PATH=$PATH:$HOME/bin

# These commands change env vars
export PATH=$PATH:$HOME/.rbenv/bin
eval "$(rbenv init -)"

. $HOME/.nix-profile/etc/profile.d/nix.sh

{{- if eq .category "work" }}
# Inject GITHUB_TOKEN into env
source $HOME/.secrets
{{- end }}

# Activate virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/local/bin/virtualenv
export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'
# Since virtualenvwrapper startup is slow, don't do it by default
alias pystart="source /usr/local/bin/virtualenvwrapper.sh"

# pip should only run if there is a virtualenv currently activated
export PIP_REQUIRE_VIRTUALENV=true
