export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export TERM=xterm-256color

# export PATH="/Users/civisemployee/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin"
export GOROOT=$HOME/.gimme/versions/go1.11.4.darwin.amd64
export GOPATH=$HOME/golang
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
# export MANPATH="/usr/local/man:$MANPATH"
export PATH=$PATH:~/bin

# These commands change env vars
eval "$(rbenv init -)"

. $HOME/.nix-profile/etc/profile.d/nix.sh

{{- if eq .category "work" }}
# Inject GITHUB_TOKEN into env
source $HOME/.secrets
{{- end }}

# Activate virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/local/bin/virtualenv
export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'
# Since virtualenvwrapper startup is slow, don't do it by default
alias pystart="source /usr/local/bin/virtualenvwrapper.sh"

# pip should only run if there is a virtualenv currently activated
export PIP_REQUIRE_VIRTUALENV=true
